body {
	color: black;
	background-color: white;
	font-family : Georgia, Times New Roman, Times, serif;
}

.header {
	color: black;
	background-color: white;
	font-family : Georgia, Times New Roman, Times, serif;
	font-size : small;
}

.footer {
	color: black;
	background-color: white;
	font-family : serif;
	font-size : small;
}

p {}

td {}

a:link { color: blue }

a:visited { color: purple }

a:hover { }

a:active { color: red }

